.App-header {
  height: 8vh;
  display: flex;
  justify-content: center;
}

.App-h1 {
  margin-top: 2vh;
  font-size: calc(10px + 4vmin);
}

table {
  width: 100%;
  border-collapse: collapse;
  height: 80vh; /* Remove this first to adjust cell height */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

thead {
  background-color: #999;
}